<% layout('layout') -%>

<br></br>
	<frontpage> 
	<span>
	Connect your twitch account with the button below to manage your hero.
	</span>
	<a href="/auth/twitch"> 
	<img src="images/twitchlogin.png" alt="th icon" id = "thlogin"></a>

	</frontpage>